---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Not sure what to put yet",
	title: "pending",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">pending</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>Hehe, you found an empty buffer.</p>
		<p>Nothing to commit yet.</p>
	</div>
</PageLayout>
