---
import { Icon } from "astro-icon/components";

/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/xiang-lin-090620159/",
		name: "mdi:linkedin",
	},
	{
		friendlyName: "Google Scholar",
		link: "https://scholar.google.com/citations?user=R4ZlMwIAAAAJ&hl=en",
		name: "mdi:school",
	},
	{
		friendlyName: "GitHub",
		link: "https://github.com/shawnlimn",
		name: "mdi:github",
	},
];
---

<div class="flex flex-col gap-y-5">
	<ul class="flex items-center gap-x-2">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
				<li class="flex">
					<a
						class="hover:text-link inline-block"
						href={link}
						rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
						target="_blank"
					>
						<Icon aria-hidden="true" class="h-8 w-8" focusable="false" name={name} />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
	<code class="text-sm opacity-80"><span style="color: #bd93f9;">&gt;&gt;&gt;</span> contact = "shawnlimn" + "@gmail.com"</code>
</div>
